
.main{
    display: flex;
    gap: 30px;
    width: 100%;
}
.col1{
    width: 250px;
    font-size:20px ;
 border: 1pX solid green;
}
.removelink{
    color:red;
}
.main li{
    display: flex;
    text-decoration: none;}