.box{
    border: 1px solid #ddd;
border-radius: 5px;
width: 350px
;font-size: 15px;}
input{
    display: block;
    margin: 10px;
    padding: 4px;
    border: 1px solid #695f5f;
}
.bgreen{
    border-color:green
}
.bred{
    border-color:red}